#wrapper {
    text-align: center;
    background-image: url(static/img/image-2.jpg);
}

#content-wrapper {
    text-align: center;
    background-image: url(static/img/image-2.jpg);
}

#content {
    background-image: url(static/img/image-2.jpg);
}