{% extends "base_admin.html" %}
{% block title %} Create_Admin {% endblock %}
<!-- Custom styles for this page -->

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">CREATE ADMIN</h1>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{category}} alert-dismissable" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="close">
                        <span aria-hidden="true">x</span>
                    </button>
                    {{message}}
                </div>
            {% endfor %}
            {% endif %}
            {% endwith %}     
           
           


        </div>
        <div class="card-body">
            <div class="table-responsive">
                <form action="" method="post">
                    <div class="form-group">
                        {{ form2.csrf_token(type='hidden') }}
                                {% if form2.csrf_token.errors %}
                                    <div class="warning">
                                        You have submited an invalid csrf token 
                                    </div>
                                {% endif %}
                        {{ form2.email(class='form-control form-control-user', placeholder='email')}}
                        <br>
                        <button type="submit" class="btn btn-primary btn-sm" >Send Otp</button>

                    </div>
                </form>
                <form action="" method="POST">
                    <div class="modal-body">       
                            <div class="form-group">
                                {{ form3.otp(class='form-control form-control-user', placeholder='Enter OTP') }}
                            </div>

                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        {{ form3.submit(class="btn btn-primary" ,type="submit") }}
                    </div>
                </form>
                <form action="" method="POST">
                    <div class="modal-body">
                                {{ form.csrf_token(type='hidden') }}
                                {% if form.csrf_token.errors %}
                                    <div class="warning">
                                        You have submited an invalid csrf token 
                                    </div>
                                {% endif %}
                            <div class="form-group">
                                {{ form.name(class='form-control form-control-user', placeholder='name') }}
                            </div>
                            <div class="form-group">
                                {{ form.gender(class='form-control form-control-user', placeholder='gender') }}
                            </div>
                            <div class="form-group">
                                {{ form.phone(class='form-control form-control-user', placeholder='phone Number') }}
                            </div>
                            <div class="form-group">
                                {{ form.description(class='form-control form-control-user', placeholder='description') }}
                            </div>
                            <div class="form-group">
                                {{ form.password1(class='form-control form-control-user', placeholder='password', pattern='(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}' ,title='Must contain at least one number and one uppercase and lowercacse letter, and 8 or more characters') }}
                         
                            </div>
                            <div class="form-group">
                                {{ form.password2(class='form-control form-control-user', placeholder='confirm password') }}
                            </div>
                    </div>
                    <div class="modal-footer">
                        <a href="{{ url_for('admins') }}" class="btn btn-secondary">Cancel</a>
                        {{ form.submit(class="btn btn-primary" ,type="submit") }}
                    </div>
                </form>

            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- #password validation javascript -->
{% endblock %}
