{% extends "base_admin.html" %}
{% block title %} Admins {% endblock %}
<!-- Custom styles for this page -->

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">CUSTOMER RECORDS</h1>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{category}} alert-dismissable" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="close">
                        <span aria-hidden="true">x</span>
                    </button>
                    {{message}}
                </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
           
           
            <h6 class="m-0 font-weight-bold text-primary">Customers</h6>       

        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Staff ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Staff ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Actions</th>
                        </tr>
                
                    </tfoot>
                    <tbody>
                        
                        {% for cus in customers %}
                        <tr>
                            <td>{{cus.customer_id}}</td>
                            <td>{{cus.full_name}}</td>
                            <td>{{cus.email}}</td>
                            <td>
                                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#cusinfo{{cus.customer_id}}">Info</button>
                                <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#cushis{{cus.customer_id}}">History</button>
                                {% if cus['status'] == 1 %}
                                    <a href="{{ url_for('enable',id=cus.customer_id)}}" method="POST" class="btn btn-primary btn-sm">Enable</a>
                                {% elif cus['status'] == 0 %}
                                <a href="{{ url_for('disable',id=cus.customer_id)}}" method="POST" class="btn btn-success btn-sm" >Disable</a>
                                {% endif %}
                                <a href="{{ url_for('delete_customer',id=cus.customer_id)}}" class="btn btn-danger btn-xs btn-sm" onclick="return confirm('Are you sure to delete?')">Delete</a>

                            </td>
                        </tr>
                        <!-- start of modal (view Information) -->
                        <div class="modal fade" style="margin-top:100px;" id="cusinfo{{cus.customer_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">cus Information</h5>
                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                        <div class="modal-body">
                                            <p>Customer ID: <b>{{cus.customer_id}}</b></p>
                                            <p>Name: <b>{{cus.full_name}}</b></p>
                                            <p>Email: <b>{{cus.email}}</b></p>
                                            <p>Date Created: <b>{{cus.date_created}}</b></p>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-success btn-sm" type="button" data-dismiss="modal" data-target="#" data-dismiss="modal">Change Password</button>
                                            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#adminedit{{cus.staff_id}}" data-dismiss="modal" >Edit</button>
                                            <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">Close</button>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <!-- End of modal -->
                        <!-- start of modal (SHistory) -->
                        <div class="modal fade" style="margin-top:100px;" id="cushis{{cus.customer_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-scrollable" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Customer History Information</h5>
                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                        <div class="modal-body">
                                            {% for item in login_logs %}
                                                <p><em>No.</em><b>{{item.login_attempt_no}}</b></p>
                                                <p><em>Login time:</em><b>{{item.login_time}}</b></p>
                                                <p><em>Logout time:</em><b>{{item.logout_time}}</b></p>
                                                <br>
                                            {% endfor %}
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <!-- End of modal -->


                        

                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- #password validation javascript -->
{% endblock %}

