{% extends "base_login.html" %}
<!-- Custom fonts for this template-->
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

<!-- Custom styles for this template-->
<link href="css/sb-admin-2.min.css" rel="stylesheet">
{% block content %}
<body class="bg-gradient-primary">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success alert-dismissable" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="close">
                        <span aria-hidden="true">x</span>
                    </button>
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith%}
    <div class="container">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">2FA Verification For Forget Password</h1>
                            </div>
                            <form action="{{ url_for('forgetpassword2') }}" method="POST">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>


                                <div class="form-group">
                                          <label for="secret">Secret Token</label>
                                          <input type="text" class="form-control" id="secret" value="{{ secret }}" readonly>
                                        </div>
                                        <div class="text-center">
                                            <img src="static/images/hehe.jpg">
                                        </div>

                                <div class="form-group">
                                  <label for="otp">Generated OTP</label>
                                  <input type="hidden" name="secret" value="{{ secret }}" required>
                                  <input type="number" class="form-control" id="otp" name="otp" required>
                                </div>
                                <div class="text-center">
                                  <button type="submit" class="btn btn-primary">Authenticate User</button>
                                </div>
                              </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>


    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>
<script>
  function copySecret() {
    /* Get the text field */
    var copyText = document.getElementById("secret");

    /* Select the text field */
    copyText.select();
    copyText.setSelectionRange(0, 99999); /*For mobile devices*/

    /* Copy the text inside the text field */
    document.execCommand("copy");

    alert("Successfully copied TOTP secret token!");
  }
</script>

</body>

{% endblock %}