{% extends "base_login.html" %}
<!-- Custom fonts for this template-->
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

<!-- Custom styles for this template-->
<link href="css/sb-admin-2.min.css" rel="stylesheet">
{% block content %}
<body class="bg-gradient-primary">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
        <div class="alert alert-{{category}} alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="close">
                <span aria-hidden="true">x</span>
            </button>
            {{message}}
        </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="container">


        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Login Page</h1>
                            </div>
                            <form action="{{ url_for('login') }}" method="POST">
                              {{ form.csrf_token }}
                                <div class="form-group row">
                                    <!--userName-->
                                    {{ form.email.label() }}
                                    {{ form.email(class='form-control form-control-user', placeholder='Email') }}
                                    <!-- Flask Forms Feature -->
                                </div>
                                <div class="form-group row">
                                    <!--Password1-->
                                        {{ form.password1.label() }}
                                        {{ form.password1(class='form-control form-control-user', placeholder='Password') }}

                                </div>
                                <a href="{{ url_for('forgetpassword1')}}" class="btn-user">Forget Password?</a>
                                {{ form.submit(class='btn btn-primary btn-user btn-block',type='submit') }}
                            </form>
                            <br>
                            <a href="{{ url_for('register')}}" class="btn btn-secondary btn-user btn-block">Register</a>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>
    <script>
        var myInput = document.getElementById("psw");
        var letter = document.getElementById("letter");
        var capital = document.getElementById("capital");
        var number = document.getElementById("number");
        var length = document.getElementById("length");
        
        // When the user clicks on the password field, show the message box
        myInput.onfocus = function() {
          document.getElementById("message").style.display = "block";
        }
        
        // When the user clicks outside of the password field, hide the message box
        myInput.onblur = function() {
          document.getElementById("message").style.display = "none";
        }
        
        // When the user starts to type something inside the password field
        myInput.onkeyup = function() {
          // Validate lowercase letters
          var lowerCaseLetters = /[a-z]/g;
          if(myInput.value.match(lowerCaseLetters)) {  
            letter.classList.remove("invalid");
            letter.classList.add("valid");
          } else {
            letter.classList.remove("valid");
            letter.classList.add("invalid");
          }
          
          // Validate capital letters
          var upperCaseLetters = /[A-Z]/g;
          if(myInput.value.match(upperCaseLetters)) {  
            capital.classList.remove("invalid");
            capital.classList.add("valid");
          } else {
            capital.classList.remove("valid");
            capital.classList.add("invalid");
          }
        
          // Validate numbers
          var numbers = /[0-9]/g;
          if(myInput.value.match(numbers)) {  
            number.classList.remove("invalid");
            number.classList.add("valid");
          } else {
            number.classList.remove("valid");
            number.classList.add("invalid");
          }
          
          // Validate length
          if(myInput.value.length >= 8) {
            length.classList.remove("invalid");
            length.classList.add("valid");
          } else {
            length.classList.remove("valid");
            length.classList.add("invalid");
          }
        }
        </script>
        <style>
    
        
          /* The message box is shown when the user clicks on the password field */
          #message {
            display:none;
            background: white;
            color: #000;
            position: relative;
            padding: 15px;
            padding-left: 40px;
            margin-top: 0px;
            padding-bottom: 5px;
          }
          
          #message p {
            padding: -15px -15px;
            font-size: 13px;
          }
          
          /* Add a green text color and a checkmark when the requirements are right */
          .valid {
            color: green;
          }
          
          .valid:before {
            position: relative;
            left: -30px;
            content: "✔";
          }
          
          /* Add a red text color and an "x" when the requirements are wrong */
          .invalid {
            color: red;
          }
          
          .invalid:before {
            position: relative;
            left: -30px;
            content: "X";
          }
          </style>
</body>

{% endblock %}