{% extends "base.html" %}
{% block title %}Add Card Details {% endblock %}
{% block content %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success alert-dismissable" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="close">
                        <span aria-hidden="true">x</span>
                    </button>
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith%}
</style>

<div class="container-fluid" style="margin-top: 30px;">
    <div class="bg-gradient-primary text-white shadow-lg " style="padding: 35px;">
      <h1 class="h3 mb-2 " style=" color:white;">Adding Card Details</h1>
      <p class="mb-4">Adding products for your users needs.</p>
    </div>
    <div class="card mx-auto shadow" style="margin: 5px auto 20px auto;" >
        <div class="card-body">
        <h4 class="card-title mb-4" style="margin-bottom: 30px;">Add Card Details</h4>
       <form method="POST" style="margin-top: 60px;" enctype="multipart/form-data">
       {{ form.hidden_tag() }}
           {{ form.csrf_token }}
           <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

          <div class="form-row">
              <div class="col form-group">
                {{ form.card_name.label() }}
                {{ form.card_name(class='form-control form-control-user', placeholder='Enter Item Name') }}
              </div> <!-- form-group end.// -->

          </div> <!-- form-row.// -->
          <div class="form-group">
                {{ form.card_number.label() }}
                {{ form.card_number(class='form-control form-control-user', placeholder='Enter Card Number') }}

          </div> <!-- form-group end.// -->
          <div class="form-group">
                {{ form.card_date.label() }}
                {{ form.card_date(class='form-control form-control-user', placeholder='Enter Card Date') }}

          </div>
           <div class="form-group">
                {{ form.card_cvc.label() }}
                {{ form.card_cvc(class='form-control form-control-user', placeholder='Enter Card CVC Number') }}
          </div>



          <button style="margin: 30px auto 30px auto; width: 60%;" class="btn btn-primary btn-block">{{ form.submit(class="btn btn-primary" ,type="submit") }}</button>


        </form>
        </div> <!-- card-body.// -->
      </div>
      </div>

{% endblock %}