{% extends "base_admin.html" %}
{% block title %} Products {% endblock %}
<!-- Custom styles for this page -->
{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">PRODUCTS RECORDS</h1>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Staff <button type="button" class="btn btn-success float-right"
                data-toggle="modal" data-target="#createadmin">Add New Products</button></h6>
                        
            <!-- start of modal -->
            <div class="modal fade" style="margin-top:100px;" id="createadmin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">ADD PRODUCT</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <form action="{{url_for('create_products')}}" method="POST">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <div class="modal-body">
                                    <div class="form-group">
                                        {{ form.product_name(class='form-control form-control-user', placeholder='Product Name') }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.description(class='form-control form-control-user', placeholder='Product Description') }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.price(class='form-control form-control-user', placeholder='Product Price') }}
                                    </div>

                            </div>

                            <div class="modal-footer">
                                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                {{ form.submit(class="btn btn-primary" ,type="submit") }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- End of modal -->
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="close">
                <span aria-hidden="true">x</span>
            </button>
        {{message}}
        </div> 
        {% endfor %}
        {% endif %}
        {% endwith%}
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Product ID</th>
                            <th>Product Name</th>
                            <th>Product Price</th>
                            <th>Product Description</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Product ID</th>
                            <th>Product Name</th>
                            <th>Product Price</th>
                            <th>Product Description</th>
                            <th>Actions</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for p in items %}
                        <tr>
                            <td>{{p.product_id}}</td>
                            <td>{{p.product_name}}</td>
                            <td>{{p.price}}</td>
                            <td>{{p.description}}</td>
                            <td>
                                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#admininfo{{p.product_id}}">Info</button>
                                <button type="button" class="btn btn-warning btn-sm">History</button>
                                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#productsedit{{p.product_id}}" >Edit</button>
                                <form action="{{ url_for('delete_products',id=p.product_id)}}", method="POST">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                    <button type="submit" class="btn btn-danger btn-xs btn-sm" onclick="return confirm('Are you sure to delete?')">Delete</button>
                                </form>
                            </td>
                        </tr>
                        <!-- start of modal (view Information) -->
                            <div class="modal fade" style="margin-top:100px;" id="productsinfo{{p.product_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Employee Information</h5>
                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                        <div class="modal-body">
                                            <p>Product ID: <b>{{p.product_id}}</b></p>
                                            <p>Name: <b>{{p.product_name}}</b></p>
                                            <p>Price: <b>{{p.price}}</b></p>
                                            <p>Description: <b>{{p.description}}</b></p>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-success" type="button" data-dismiss="modal">Change Password</button>
                                            <button class="btn btn-primary" type="button" data-dismiss="modal">Edit</button>
                                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <!-- End of modal -->
                        <!-- start of modal (edit Information)-->
                        <div class="modal fade" style="margin-top:100px;" id="productsedit{{p.product_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Edit Product Information</h5>
                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                        <form action="{{url_for('update_products' , id=p.product_id)}}" method="POST">
                                            {{ form.csrf_token }}
                                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                            <div class="modal-body">
                                                    <div class="form-group">
                                                        {{ form.product_name(class='form-control', placeholder='Product Name', value=p.product_name) }}
                                                    </div>
                                                    <div class="form-group">
                                                        {{ form2.price(class='form-control',  placeholder='Product Price',value=p.price) }}
                                                    </div>
                                                    <div class="form-group">
                                                        {{ form2.description(class='form-control', value=p.description, placeholder='Product Description') }}
                                                    </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-success" type="button" data-dismiss="modal">Exit</button>
                                                {{ form2.submit(class="btn btn-primary" ,type="submit") }}
                                            </div>
                                        </form>
                                </div>
                            </div>
                        </div>
                        <!-- End of modal -->


                        <!-- End of modal -->
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

{% endblock %}
