{% extends "base_login.html" %}
<!-- Custom fonts for this template-->
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

<!-- Custom styles for this template-->
<link href="css/sb-admin-2.min.css" rel="stylesheet">
{% block content %}
<body class="bg-gradient-primary">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
        <div class="alert alert-{{category}} alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="close">
                <span aria-hidden="true">x</span>
            </button>
            {{message}}
        </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="container">
        <style>
            /* Add a green text color and a checkmark when the requirements are right */
            .valid {
              color: green;
            }

            .valid:before {
              position: relative;
              left: -35px;
              content: "✔";
            }

            /* Add a red text color and an "x" when the requirements are wrong */
            .invalid {
              color: red;
            }

            .invalid:before {
              position: relative;
              left: -35px;
              content: "✖";
            }
            </style>

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Reset Password Page</h1>
                            </div>
                            <form action="{{ url_for('resetpassword') }}" method="POST">
                                {{ form.csrf_token }}
                                                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

                                <div class="form-group row">
                                    <!--Password1-->
                                        {{ form.newpassword.label() }}
                                        {{ form.newpassword(class='form-control form-control-user', placeholder='New Password', pattern='(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}' ,title='Enter your new password') }}

                                </div>
                                <div class="form-group row">
                                    <!--Password1-->
                                        {{ form.confirmpassword.label() }}
                                        {{ form.confirmpassword(class='form-control form-control-user', placeholder='Confirm Password', pattern='(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}' ,title='Confirm your new password') }}

                                </div>
                                <br>
                                <div id="message" >
                                    <p id="letter" class="invalid float-right">A <b>lowercase</b> letter</p>
                                    <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
                                    <p id="number" class="invalid float-right">A <b>number</b></p>
                                    <p id="length" class="invalid">Minimum <b>8 characters</b></p>
                                </div>
                                {{ form.submit(class='btn btn-primary btn-user btn-block',type='submit') }}
                            </form>
                            <br>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <script>
        var letter = document.getElementById("letter");
        var capital = document.getElementById("capital");
        var number = document.getElementById("number");
        var length = document.getElementById("length");

        // When the user clicks on the password field, show the message box
        newpassword.onfocus = function() {
          document.getElementById("message").style.display = "block";
        }

        // When the user clicks outside of the password field, hide the message box
        newpassword.onblur = function() {
          document.getElementById("message").style.display = "block";
        }

        // When the user starts to type something inside the password field
        newpassword.onkeyup = function() {
          // Validate lowercase letters
          var lowerCaseLetters = /[a-z]/g;
          if(newpassword.value.match(lowerCaseLetters)) {
            letter.classList.remove("invalid");
            letter.classList.add("valid");
          } else {
            letter.classList.remove("valid");
            letter.classList.add("invalid");
          }

          // Validate capital letters
          var upperCaseLetters = /[A-Z]/g;
          if(newpassword.value.match(upperCaseLetters)) {
            capital.classList.remove("invalid");
            capital.classList.add("valid");
          } else {
            capital.classList.remove("valid");
            capital.classList.add("invalid");
          }

          // Validate numbers
          var numbers = /[0-9]/g;
          if(newpassword.value.match(numbers)) {
            number.classList.remove("invalid");
            number.classList.add("valid");
          } else {
            number.classList.remove("valid");
            number.classList.add("invalid");
          }

          // Validate length
          if(newpassword.value.length >= 8) {
            length.classList.remove("invalid");
            length.classList.add("valid");
          } else {
            length.classList.remove("valid");
            length.classList.add("invalid");
          }
        }
        </script>

</body>

{% endblock %}